@media screen and (min-width: 768px) {

    /*
        navigator
    */
    .topheader {
        overflow: hidden;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100;
        height: 80px;
        width: 100%;
    }

    .topheader .outer {
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 15px;
        background-color: #008DC9;
        text-align: center;
        z-index: 100;
        height: 43px;
        width: 100%;
        border-bottom: 3px solid #008DC9;
        /* để green thì không có cái đường thẳng nhìn ko đẹp cho lắm*/
    }

    .topheader .inner {
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        width: 1100px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .topheader .inner .topleftmenu {
        display: inline-block;
        float: left;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .topheader .inner .topleftmenu a {
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        text-decoration: none;
        display: inline-block;
        padding: 12px;
        font-size: 15px;
        font-weight: bold;
    }

    .topheader .inner .topleftmenu a:hover {
        background-color: #fff;
        border-radius: 20px;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .topheader .inner .toprightmenu {
        text-align: right;
        float: right;
        width: 400px;
        height: 37px;
        background-color: #008DC9;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .topheader .inner .toprightmenu .login_register a {
        width: 80px;
        padding-top: 14px;
        height: 43px;
        background-color: #008DC9;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        float: left;
        text-align: center;
        font-weight: bold;
    }

    .topheader .inner .toprightmenu .login_register a:hover {
        background-color: #fff;
        border-radius: 20px;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .topheader .inner .toprightmenu .username {
        display: block;
        float: right;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
        text-shadow: 1px 1px 0px #121212;
        background-color: #008DC9;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .topheader .inner .toprightmenu .username span {
        padding-top: 12px;
        padding-lefT: 12px;
        display: inline-block;
        font-style: italic;
        background-color: #008DC9;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    .topheader .inner .toprightmenu .username span:hover {
        text-decoration: underline;
        background-color: #008DC9;
    }

    .topheader .inner .toprightmenu a:hover {
        color: gold;
    }

    .clear {
        clear: both;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin: 0px;
        z-index: 10;
    }

    header {
        margin-top: 40px;
        width: 100%;
        height: 140px;
        background-image: url("../images/banner.png");
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
    }

    #search {
        height: 30px;
        margin-top: 6px;
        width: 200px;
        float: left;
    }
}